{% extends "adminlayout.html"%}
{% block body %}
<div class="container">
<h1>Upload New Blog</h1>
<form method="post" action="" enctype="multipart/form-data">
<div class="mb-3">
  <label for="exampleFormControlInput1" class="form-label">Title</label>
  <input type="text" class="form-control"  id="title" value="" name="title" placeholder="Title">
</div>
<div class="mb-3">
  <label for="exampleFormControlInput1" class="form-label">Slug</label>
  <input type="text" class="form-control" id="slug" value="" name="slug"  placeholder="Slug">
</div>
<div class="mb-3">
  <label for="exampleFormControlTextarea1" class="form-label">Content</label>
  <textarea class="form-control" id="content" name="content" rows="20"  placeholder="content"></textarea>
</div>
<div class="mb-3">
  <label for="exampleFormControlInput1" class="form-label">Image</label>
  <input type="file" id="img_file" name="img_file">
  <!--input type="text" class="form-control" id="img_file" name="img_file" value=""  placeholder="Image"-->
</div>
<button type="submit" class="btn btn-primary">Submit</button>
</form>
</div>
{% endblock %}
